venv/
.venv/
__pycache__/
*.pyc
.dvc/cache/
.dvc/config.local
*.h5
credentials*.json
client_secret*.json
token*.json
/confusion_matrix.png

/data/raw/
/data/processed/
/models/
/confusion_matrix.png

/data/processed/
